<span>
    <h4>ID: - <i>{{veicolo.id}}</i></h4>
    <table>
        <tr>
            <td>Modello</td>
            <td><i>{{veicolo.modello}}</i></td>
        </tr>
        <tr>
            <td>Marca</td>
            <td><i>{{veicolo.marca}}</i></td>
        </tr>
        <tr>
            <td>Prezzo</td>
            <input type="range" min="0" max="10000" step="0.5" length="600px" [(ngModel)] = "rangeValue" >: 
            <td><i>{{veicolo.prezzo}}</i></td> <button (click) = "onNew()"> Nuovo Prezzo</button> : <i>{{rangeValue}}</i>
        </tr>
        <tr>
            <td>Velocità Massima</td>
            <td><i>{{veicolo.velocitamax}}</i></td>
        </tr>
    </table>
    <hr>
</span>